@model HomePageViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model.Posts.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Created At</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Posts) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
}
else
{
    <p>No posts.</p>
}

<div class="py-4">
    <p>Tags</p>
    @foreach(var tag in Model.Tags)
    {
        <span class="text-primary">
            <a asp-area="" asp-controller="Posts" 
            asp-action="Index" asp-route-tagId="@tag.Id" asp-route-page="@Model.Posts.PageIndex">@tag.Name</a>
        </span>
    }
</div>

@{
    var prevDisabled = !Model.Posts.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Posts.HasNextPage ? "disabled" : "";
    string? paramTagId = Context.Request.Query["tagId"];
}

<a asp-area=""
   asp-controller="Posts"
   asp-action="Index"
   asp-route-page="@(Model.Posts.PageIndex - 1)"
   asp-route-tagId="@paramTagId"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-area=""
   asp-controller="Posts"
   asp-action="Index"
   asp-route-page="@(Model.Posts.PageIndex + 1)"
   asp-route-tagId="@paramTagId"
   class="btn btn-primary @nextDisabled">
    Next
</a>